		body {
			font-family: 'Helvetica', 'Arial', sans-serif;
		}
		#container {
			margin-left: auto;
			margin-right: auto;
			
			width: 800px;
		}
		
		#container h1 {
			text-align: center;
			margin-bottom: 30px;
			font-family: 'Helvetica', 'Arial', sans-serif;
			font-size: 40px;
		}
		
		#container .left {
			width: 92px;
			height: 472px;
			margin-top: 30px;
			margin-left: 100px;
			float: left;
			background-image: url(/public/images/index-num.jpg);
		}
		#container .right {
			float: right;
			margin-right: 50px;
		}
		#container .right .steps{
			height: 150px;
			width: 500px;
			margin-bottom: 30px;
			padding: 5px 0px 0px 5px;
		}
		#footer {
			clear: both;
			text-align: center;
			font-size: 10px;
			margin: 30px 80px 0px 80px;
			padding-top:5px;
			border-top:1px solid gray;
			color: gray;
		}
		
		.success {
			font-family: Modernpics;
			font-size: 60px;
			margin: 0px;
			display: none;
		}
		a:link { text-decoration: none }
	/*	http://thedesignoffice.org/project/modern-pictograms/*/
		@font-face {
			font-family: Modernpics;
			src: url("/public/fonts/modernpics.otf") format("opentype");
		}
		
		p {
			font-size: 15px;
		}
		.warning {
			color: rgba(233,33,33,0.97);
			font-weight: bold;
		}