#recommend .left {
	background-image: url(/public/images/recommend-num.jpg);
}

#recommend #s2 .loader {
	display:none;
	height:32px;
	width:32px;
	background-image: url(/public/images/loading.gif);
}


#recommend button {
	display:inline-block;
	position: relative;
	top: -10px;
	
}

.progress-bar {
	width:360px;
	height:10px;
}